<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
		<title>fromCita</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/formCita.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js">
	
	</script>

	
	<meta http-equiv="content-type" 
		content="text/html;charset=utf-8" />



</head>
<body>
{{ formset.management_form }}
<table>
    {% for form in formset.forms %}
        {{ form }}
    {% endfor %}
</table>



<script>
var sessionId = '{{sessionId}}';
var dirr = '{{dirr}}';
$('#id_form-0-tratamiento_id').change(function() {
	 var val = $('#id_form-0-tratamiento_id').val();
	 
	
	if (val.length>0)
	{
		 
		 
		 var rep = $.ajax({
		 		type: "POST",
			 	 url: dirr+"getPersonal/",
			 	 data: '{"sessionId":"'+sessionId+'","filtro":[{"tratamiento":"'+val+'"}]}',
			  	async: false
			 	}).responseText;
		document.getElementById("result").innerHTML = rep;
	}
	else
    	alert("null");
});	
</script>



<div id="result"></div>

<a href="javascript:void(0)" id="add_form" >Add Form</a> 

<script>

$('#add_form').click(function() {
	
    
    var paciente = $('#id_form-0-paciente_id').val();
    var tratamiento = $('#id_form-0-tratamiento_id').val();
    var fecha = $('#id_form-0-fecha').val();
    var comentario = $('#id_form-0-comentario').val();
    
    //alert(paciente+tratamiento+fecha+comentario);
    var enfants = document.getElementById("result").childNodes.length;
    var json = '"personales":[';
    for (var i  = 0;i<enfants;i++)
    	{
    	if( document.getElementById("result").childNodes[i].type == 'select-one')
    	{
    		
    		var pers = document.getElementById("result").childNodes[i].value;
    		json += '{"personal":"'+pers+'"},';
    	}
    	}
    //delete the last "," if result has children
    if( enfants != 0)    
    	json = json.slice(0, -1);
    json+=']';
    var dirr = '{{dirr}}';
    var rep = $.ajax({
		 		type: "POST",
			 	 url: dirr+"setCitaWithPersonal/",
			 	 data: '{"sessionId":"'+sessionId+'","tuples":[{"paciente_id":"'+paciente+'","tratamiento_id":"'+tratamiento+'","fecha":"'+fecha+'","comentario":"'+comentario+'"}],'+json+'}',
			  	
			  	async: false
			 	}).responseText;
		document.getElementById("result2").innerHTML = rep;
});	
</script>

<div id="result2">cita created?</div>

</body>
</html> 