<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
		<title>Antecedentes</title>
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js">
	
	</script>

	
	<meta http-equiv="content-type" 
		content="text/html;charset=utf-8" />



</head>
<body>
<div id="result"></div>
<a href="javascript:void(0)" id="add_form" >Js post</a> 
{{dirr}}
<form method="post" action="validateForm" id="formAntecedentes">
	<!-- <input type="submit" value="Enviar" /> -->
	
	<TABLE BORDER=1>
	<TR BGCOLOR="#C0C0C0">
	<TD>Seleccione el paciente</TD>	
	<TD><select name="paciente_id">
	{% for paciente in pacientes %}	
	<option value='{{paciente.id}}'>{{paciente}}</option>
	
	{% endfor %}
	</select>
	</TD>
	</TR>
	{% for x in HEMATOLOGÍA %}
	
	<TR>
		<TD>{{x.name}}</TD>
		<TD>
		{% if x.value == "False" or x.value == "True" %}
		<INPUT type="checkbox" name="{{x.name}}" value="{{x.value}}">
		{% else %}
		<INPUT type="text" name="{{x.name}}" >
		{%endif%}
		</TD>
	</TR>	
	{% endfor %}
	
	{% for x in CARDIOVASCULAR %}
	
	<TR> 
		
		<TD>{{x.name}}</TD>
		<TD>
		{% if x.value == "False" or x.value == "True" %}
		<INPUT type="checkbox" name="{{x.name}}" value="{{x.value}}">
		{% else %}
		<INPUT type="text" name="{{x.name}}" value="{{x.value}}">
		{%endif%}
		</TD>
	</TR>	
	{% endfor %}
	
	{% for x in DIGESTIVO %}
	
	<TR>
		<TD>{{x.name}}</TD>
		<TD>
		{% if x.value == "False" or x.value == "True" %}
		<INPUT type="checkbox" name="{{x.name}}" value="{{x.value}}">
		{% else %}
		<INPUT type="text" name="{{x.name}}" value="{{x.value}}">
		{%endif%}
		</TD>
	</TR>	
	{% endfor %}
	
	
	
	{% for x in NERVIOSO_Y_SENSORIAL %}
	
	<TR>
		<TD>{{x.name}}</TD>
		<TD>
		{% if x.value == "False" or x.value == "True" %}
		<INPUT type="checkbox" name="{{x.name}}" value="{{x.value}}">
		{% else %}
		<INPUT type="text" name="{{x.name}}" value="{{x.value}}">
		{%endif%}
		</TD>
	</TR>	
	{% endfor %}
	
	{% for x in MÉTODO_ANTICONCEPTIVO %}
	
	<TR>
		<TD>{{x.name}}</TD>
		<TD>
		{% if x.value == "False" or x.value == "True" %}
		<INPUT type="checkbox" name="{{x.name}}" value="{{x.value}}">
		{% else %}
		<INPUT type="text" name="{{x.name}}" value="{{x.value}}">
		{%endif%}
		</TD>
	</TR>	
	{% endfor %}
	
	{% for x in RESPIRATORIO %}
	
	<TR>
		<TD>{{x.name}}</TD>
		<TD>
		{% if x.value == "False" or x.value == "True" %}
		<INPUT type="checkbox" name="{{x.name}}" value="{{x.value}}">
		{% else %}
		<INPUT type="text" name="{{x.name}}" value="{{x.value}}">
		{%endif%}
		</TD>
	</TR>	
		
	{% endfor %}
	{% for x in MUCOCUTANEO_O_MUSCULOESQUELÉTICO %}
	
	<TR>
		<TD>{{x.name}}</TD>
		<TD>
		{% if x.value == "False" or x.value == "True" %}
		<INPUT type="checkbox" name="{{x.name}}" value="{{x.value}}">
		{% else %}
		<INPUT type="text" name="{{x.name}}" value="{{x.value}}">
		{%endif%}
		</TD>
	</TR>	
	
	{% endfor %}
	
	{% for x in ENDOCRÍNO %}
	
	<TR>
		<TD>{{x.name}}</TD>
		<TD>
		{% if x.value == "False" or x.value == "True" %}
		<INPUT type="checkbox" name="{{x.name}}" value="{{x.value}}">
		{% else %}
		<INPUT type="text" name="{{x.name}}" value="{{x.value}}">
		{%endif%}
		</TD>
	</TR>	
	
	{% endfor %}
	
	{% for x in URINARIO_O_TRANSMISIÓN_SEXUAL %}
	
	<TR>
		<TD>{{x.name}}</TD>
		<TD>
		{% if x.value == "False" or x.value == "True" %}
		<INPUT type="checkbox" name="{{x.name}}" value="{{x.value}}">
		{% else %}
		<INPUT type="text" name="{{x.name}}" value="{{x.value}}">
		{%endif%}
		</TD>
	</TR>	
		
	{% endfor %}
	
	{% for x in OTRAS_PATOLOGÍAS %}
	
	<TR>
		<TD>{{x.name}}</TD>
		<TD>
		{% if x.value == "False" or x.value == "True" %}
		<INPUT type="checkbox" name="{{x.name}}" value="{{x.value}}">
		{% else %}
		<INPUT type="text" name="{{x.name}}" value="{{x.value}}">
		{%endif%}
		</TD>
	</TR>	
		
	{% endfor %}
	
	{% for x in ANTECEDENTES %}
	
	<TR>
		<TD>{{x.name}}</TD>
		<TD>
		{% if x.value == "False" or x.value == "True" %}
		<INPUT type="checkbox" name="{{x.name}}" value="{{x.value}}">
		{% else %}
		<INPUT type="text" name="{{x.name}}" value="{{x.value}}">
		{%endif%}
		</TD>
	</TR>	
		
	{% endfor %}
	
	{% for x in FIRMAS %}
	
	<TR>
		<TD>{{x.name}}</TD>
		<TD>
		{% if x.value == "False" or x.value == "True" %}
		<INPUT type="checkbox" name="{{x.name}}" value="{{x.value}}">
		{% else %}
		<INPUT type="text" name="{{x.name}}" value="{{x.value}}">
		{%endif%}
		</TD>
	</TR>	
		
	{% endfor %}
	</TABLE>
</form>

<script>
var sessionId = '{{sessionId}}';
var dirr = '{{dirr}}';

$('#add_form').click(function() {
	
	
	
	var form = document.forms[0];
	var json ='{"sessionId":"'+sessionId+'","tuples":[{';
	var stringAntecedentes = ''
	for (var champ=0; champ < form .elements.length; champ++) {	
		
		if (form.elements[champ].name == 'firmaPaciente' || form.elements[champ].name == 'aclaracion' || form.elements[champ].name == 'firmaAlumno' 
		|| form.elements[champ].name == 'firmaDocente' || form.elements[champ].name == 'paciente_id')
			{		
			json+='"'+form.elements[champ].name+'":"'+form.elements[champ].value+'",';
			
			}
		else{
			stringAntecedentes+= form.elements[champ].name+form.elements[champ].value+' ';
		}
	}
	
    json +='"stringAntecedentes":"'+stringAntecedentes+'"}';
	json+=']}';
	
	
	//post
	var rep = $.ajax({
		 		type: "POST",
			 	 url: dirr,
			 	 data: json,
			  	
			  	async: false
			 	}).responseText;
	document.getElementById("result").innerHTML = rep;

});
	
</script>
</body>