<html>


<head><title>admin</title>

	
</head>

<SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript"> 
function ajaxRequest(){
     var activexmodes=["Msxml2.XMLHTTP", "Microsoft.XMLHTTP"]; //activeX versions to check for in IE
     if (window.ActiveXObject){ //Test for support for ActiveXObject in IE first (as XMLHttpRequest in IE7 is broken)
      for (var i=0; i<activexmodes.length; i++){
       try{
        return new ActiveXObject(activexmodes[i]);
       }
       catch(e){
        //suppress error
       }
      }
     }
     else if (window.XMLHttpRequest) // if Mozilla, Safari etc
      return new XMLHttpRequest();
     else
      return false;
}
 
function ajaxpost(page,sessionId,dirr){
	
    var mypostrequest=new ajaxRequest();
    
    mypostrequest.onreadystatechange=function(){
     if (mypostrequest.readyState==4){
     	
      if (mypostrequest.status==200 || window.location.href.indexOf("http")==-1){
      
       document.getElementById("result").innerHTML = mypostrequest.responseText;
      }
      else{
       alert("An error has occured making the request");
      }
     }
    }
    
    
    var parameters='{"sessionId":"'+sessionId+'","tuples":[{}]}';
    mypostrequest.open("POST", dirr+page+"/", true);
    alert(dirr+page+"/");
    
    mypostrequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    
    mypostrequest.send(parameters);
    
}
 
</SCRIPT>

<body>

<p>Username : {{username}}   Group  {{group}}</p>
<a href="/logout/">logout</a>  

<p>
<a href="/FormCita/">Crear Cita</a>
<a href="/service/setAntecedentes/">Nuevo antecedente</a>	 
</p>
<div><p>ADMIN PAGE</p></div>
<div>

{% for x in choices %}
    <input type="button" name="{{ x }}" id="choice{{ forloop.counter }}" value="{{ x }}"
     onClick='ajaxpost("{{ x }}","{{sessionId}}","{{dirr}}")' />
    
{% endfor %}
	

	
</div>
<div id="result"></div>
<br/>
<!--
<form method="post" action="/crearCita/">

	{% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form.id }}
        <ul>
            <li>{{ form.paciente_id }}</li>
            <li>{{ form.tratamiento_id }}</li>
            <li>{{ form.fecha }}</li>
            <li>{{ form.comentario }}</li>
        </ul>
    {% endfor %}
    <INPUT type="submit" value="Crear"> 
</form>
-->
<br/>   	
<form method="post" action="/crearPaciente/">

	<input type="hidden" name="sessionId" value="{{sessionId}}">

	{% csrf_token %}
    {{ formset2.management_form }}
    {{ formset2 }}
        
    <INPUT type="submit" value="Crear Paciente"> 
</form>






</body>
</html> 